  <!--begin::Notice-->
  <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
    <!--begin::Icon-->
    <i class="ki-duotone ki-design-1 fs-2tx text-primary me-4"></i>        <!--end::Icon-->
    
    <!--begin::Wrapper-->
    <div class="d-flex flex-stack flex-grow-1 ">
                    <!--begin::Content-->
            <div class=" fw-semibold">
            <div class="fs-6 text-gray-900 ">
               SELF DISCIPLINE
            </div>
            </div>
            <!--end::Content-->
            
     </div>
            <!--end::Wrapper-->  
</div>
    <!--end::Notice-->



    
               <!--begin::Input group-->
               <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">
                    1.	Ability to make one self to do the things one ought to do without someone making him to do it
                </label>
                <!--end::Label-->
            
                <!--begin::Col-->
                <div class="col-lg-8">
                    <!--begin::Row-->
                    <div class="row">
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row">
                            <div class="fs-6 text-gray-900 "><h4>Maximum Score</h4></div> 
                            <h5>3.0</h5>
                            
                        </div>
                        <!--end::Col-->
            
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row">
                            <div class="fs-6 text-gray-900 "><h4>Actual Score</h4></div> 
                            <input type="number" name="contributionscore" class="form-control form-control-lg form-control-solid" 
                           placeholder="Score"  required />
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->



                 <!--begin::Input group-->
                 <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">2.	Has well balanced attitude towards work and leisure </label>
                    <!--end::Label-->
                
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <div class="fs-6 text-gray-900 "><h4>Maximum Score</h4></div> 
                                <h5>3.0</h5>
                                
                            </div>
                            <!--end::Col-->
                
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <div class="fs-6 text-gray-900 "><h4>Actual Score</h4></div> 
                                <input type="number" name="contributionscore" class="form-control form-control-lg form-control-solid" 
                               placeholder="Score"  required />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->



                

                 <!--begin::Input group-->
                 <div class="row mb-6">
                    <!--begin::Label-->
                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">Sub Total</label>
                    <!--end::Label-->
                
                    <!--begin::Col-->
                    <div class="col-lg-8">
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <div class="fs-6 text-gray-900 "><h4>Maximum Score</h4></div> 
                                <h5>5.0</h5>
                                
                            </div>
                            <!--end::Col-->
                
                            <!--begin::Col-->
                            <div class="col-lg-6 fv-row">
                                <div class="fs-6 text-gray-900 "><h4>Actual Score</h4></div> 
                                <input type="number" name="contributionscore" class="form-control form-control-lg form-control-solid" 
                               placeholder="Score"  required />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Input group-->